@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,700|Cardo:400,400i,700&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

h1 {
  font-size: 20vw;
}
h2 {
  font-size: 15vw;
}

p,
ul {
  font-family: "Cardo", serif;
}

p a {
  color: inherit;
}

.container-m-width {
  margin-left: 3rem;
  margin-right: 3rem;
}

.container-m-height {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container-p-width {
  padding-left: 3rem;
  padding-right: 3rem;
}

.container-p-height {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-large {
  max-width: 960px;
  margin: 9rem auto;
}

.hero-small {
  max-width: 640px;
  margin: auto;
}
