@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,700|Cardo:400,400i,700&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

/* Typography */
h1 {
  font-size: 20vw;
}
h2 {
  font-size: 15vw;
}

p,
ul {
  font-family: "Cardo", serif;
}

p a {
  color: inherit;
}

/* Container sizing */
.container-large {
  max-width: 1200px;
  margin: 9rem auto;
}

.container-medium {
  max-width: 960px;
  margin: 9rem auto;
  /* padding: 0 3rem; */
}

.container-small {
  max-width: 640px;
  margin: auto;
}

/* Stop text from clashing with sides on small screens  */
@media only screen and (max-width: calc(960px + 2rem)) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* Or, if I decide to do it case-by-case, I could apply something like the below to individual elements:  */
/* .text-left {
  margin-left: 1rem;
}
.text-right {
  margin-right: 1rem;
} */
