@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,700|Cardo&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

h1 {
  font-size: 20vw;
}
h2 {
  font-size: 15vw;
}

p {
  font-family: "Cardo", serif;
}
